@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat';
    --bg-color: #256D85;
    --primary-color: #DFF6FF;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

h1 {
    font-size: 3em;
}

h3{
    font-size: 2em;
    margin-top: 20px;
}

.dica{
    justify-self: center;
    width: 20%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #FFEA20;
    color: #000000;
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px #FFEA20;
    margin-top: 20px;
}

#menor-valor, #maior-valor{
    font-weight: bold;
    padding: 5px;
    width: 2.5em;
    border: none;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.295);
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.jogar-novamente{
    margin-top: 40px;
    width: 150px;height: 35px;
    background-color: #00d0f9;
    box-shadow: 0px 2px 25px #00d0f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: movimento 0.6s infinite alternate linear ;
}

@keyframes movimento{
    from{
        transform: translate(5px);
    }
    to{
        transform: translate(-5px);
    }
}

.jogar-novamente:hover{
    scale: 1.1;
    transition: 0.4s;
}




